<mat-toolbar color="primary" *ngIf="!isLoginPage && !isRegisterPage">
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Navbar content is below this -->
    <app-navigation></app-navigation>

    <!-- Logout button below -->
    <span class="example-spacer"></span>
    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-icon-button [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" *ngIf="!isLoginPage && !isRegisterPage">
    <!-- Sidebar content is below this -->
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- Main content -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
