
    <!-- Your sidebar content goes here -->
    <mat-nav-list class="navlist-container">
        <a mat-list-item [routerLink]="['/home']">
            <div class="matItemMod">
                <mat-icon>home</mat-icon>
                <span style="margin-left: 10px;">Home</span>
            </div>
        </a>
        
        <a mat-list-item [routerLink]="['/survey/list']">
            <div class="matItemMod">
                <mat-icon>event_note</mat-icon>
                <span style="margin-left: 10px;">Survey</span>
            </div>
        </a>

        <a mat-list-item [routerLink]="['/user-list']">
            <div class="matItemMod">
                <mat-icon>find_in_page</mat-icon>
                <span style="margin-left: 10px;">Datasets</span>
            </div>
        </a>

        <a mat-list-item [routerLink]="['/survey/create']">
            <div class="matItemMod">
                <mat-icon>flip_to_back</mat-icon>
                <span style="margin-left: 10px;">Models</span>
            </div>
        </a>

    </mat-nav-list>

  